/* add custom styles */
body  {
background-color: white;
}
.page-header {
  background-color: #2d5be3;
  color: white;
  margin-top: -20px;
}

h1 small {
  color: silver;
}

.navbar {
  background-color: #204dcc;
  color: white;
  margin-bottom: 0;
}

.btn {
  margin: 10px;
}

.menu {
  min-height: 400px;
  background-color: silver;
}
.left {
  min-height: 400px;
  background-color: #2d5be3;
}
.right {
  min-height: 400px;
  background-color: #2d5be3;
}
.restInfo {
  color: white;
  background-color: #204dcc;
}
.map {
  color: white;
  background-color: #204dcc;
  padding-bottom: .5rem;
}
